Repository gemini-hlsw/lucuma-ui, pull requests merged in 2022-04, with the labels that each got.

#466 Upgrade lucuma-core
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Labels: ui

#469 Update lucuma-core.
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Labels: ui

#474 Update react common and semantic-ui
  .gitignore
  build.sbt
  modules/demo/yarn.lock
Labels: demo

#480 Resize detector facade
  build.sbt
  modules/ui/src/main/scala/react/resizeDetector/ResizeDetector.scala
  modules/ui/src/main/scala/react/resizeDetector/hooks.scala
Labels: ui

#481 No docs in demo
  build.sbt
  modules/demo/package.json
  modules/demo/yarn.lock
Labels: demo

#483 Update lucuma-core
  .gitignore
  build.sbt
  modules/demo/yarn.lock
Labels: demo

#487 Sequence model Reusability. Use Reusability.byEq whenever possible.
  build.sbt
  modules/demo/yarn.lock
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Labels: demo, ui

#490 Renaming GmosGrating -> GmosGratingConfig
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Labels: ui
