Repository gemini-hlsw/lucuma-ui, pull requests merged in 2024-06, with the labels that each got.

#1159 Support for editing QA in sequences
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-common.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/LucumaIcons.scala
  modules/ui/src/main/scala/lucuma/ui/LucumaStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/DatasetQA.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/all.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/toast.scala
Labels: ui

#1160 Add toHoursMinutes and TimeSpanView
  modules/tests/src/test/scala/lucuma/ui/syntax/SyntaxSuite.scala
  modules/ui/src/main/scala/lucuma/ui/components/TimeSpanView.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/all.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/time.scala
Labels: ui, tests

#1161 Show link to datasets, only if valid
  build.sbt
  modules/demo/package-lock.json
  modules/demo/package.json
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/LinkIfValidDemo.scala
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/components/LinkIfValid.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/ConnectionManager.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Labels: demo, ui

#1163 Small UI tweak
  .gitignore
  flake.nix
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-layout.scss
Labels: ui

#1167 Offload Dataset QA editing to clients
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/LinkIfValidDemo.scala
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/LucumaIcons.scala
  modules/ui/src/main/scala/lucuma/ui/components/LinkIfValid.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/primereact.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/DatasetQA.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Labels: demo, ui

#1176 Adapt to changes in lucuma-react
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/PrimeTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
Labels: ui
